@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: black;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    font-size: 90px;
    font-weight: 600;
    font-family: 'Niconne', cursive;
    color: #ffffff;
    padding: 10px;
  }

p{
    font-family: "Bree Serif", serif;
}

h1{
    font-family: 'Niconne', cursive;
}