*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(214, 214, 214);
}


h2 {
    font-size:26px; 
    font-weight:700;  
    letter-spacing:1px; 
    text-transform:uppercase; 
    width:160px; 
    text-align:center; 
    margin: 20px; 
    white-space:nowrap; 
    padding-bottom:13px;
  }
h2:before {
      background-color: #c50000;
      content: '';
      display: block;
      height: 3px;
      width: 75px;
      margin-bottom: 5px;
  }
  h2:after {
    background-color: #c50000;
    content: '';
    display: block;
    position:absolute; right:1; bottom:1;
    height: 3px;
    width: 75px;
    margin-bottom: 0.25em;
}


.box{
    width: 400px;
    padding: 1rem;
    background: #ffffff;
    border-radius: 6px;
    text-align: center;
}

p{
    padding: 1rem;
    font-size: 20px;
    color: #000;
}


#quotebtn {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#quotebtn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#quotebtn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}