*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    
}

.wrapper{
    position: absolute;
    color: #000000;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 500px;
    text-align: center;
    padding: 30px 30px 30px
}

.wrapper.active{
    cursor: move;
    user-select: none;
}

h2{
    padding-bottom: 20px;
    font-size: 2rem;
    border-bottom: 1px solid #bfbfbf;
}

.icon,
p {
    padding-top: 20px;
}

.icon i {
    width: 95px;
    height: 95px;
    border: 5px solid #2e4edb;
    border-radius: 50%;
    font-size: 60px;
    line-height: 1.5;
    color: #2e4edb;
}

p {
    font-size: 1.5rem;
    line-height: 1.5;
}