*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #a1d2ff77;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

}

h2{
    padding-bottom: 50px;
    color: rgb(0, 0, 0);
}

p{
    background-color: rgb(0, 0, 0);
    width: 120px;
    height: 60px;
    font-size: 2rem;
    border-radius: 10px;
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;

}